<div class="container">
  <h1>Flikcr</h1>
  <h2>Album: <a href="/albums/<%= @album.id %>">
    <%= @album.title %>
  </a> by <a href="/users/<%= @owner.id %>/albums"><%= @owner.name %></a></h2>
  <h2>Title: <%= @photo.title %></h2>
  <img src="<%= @photo.file %>">
</div>